{% extends 'admin/adminbase.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters justify-content-left mt-5">
            <div class="col-12 col-lg-12 col-md-12">
                <span class="text-center">
                    {{ message }}
                </span><br/>
                <span class="row no-gutters mt-3">
                    {{ info.message }}
                </span>
                <ol class="list-group-horizontal">
                    {% for key, link in info.list %}
                        <li  class="mt-3">
                            {{ key }}
                            <br />
                            <a href="{{ link }}">{{ link }}</a>
                        </li>
                    {% endfor %}
                </ol>
                <b class="row no-gutters mt-5">
                    {{ required.message }}
                </b>
                <span>
                    {% for e in required.list %}
                        {{ loop.index }}) {{ e }} <br />
                    {% endfor %}
                </span>
                <div class="row no-gutters mt-5">
                    <a href="{{ path('admin_user') }}" class="btn btn-outline-danger my-2 my-sm-0">
                        Перейти к заявлению
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}